@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

body{
    background-color: rgb(12, 12, 34);
}

form{
    padding: 1rem;
}

form input{
    padding: 0.2rem 0.5rem;
    width: 30%;
    border: 1px solid #fff;
    outline:none;
    border-radius: 0.3rem;
    background-color: rgb(226, 226, 226);
    font-size: 1.2rem;
    font-weight: 500;
}

button{
    padding: 0.1rem 2rem;
    font-weight: 700;
}

.cardContainer{
    padding: 2rem;
}

.cardContainer::-webkit-scrollbar{
    display: none;
}

.cardContainer .card{
    padding: 1rem;
}